@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Orbitron:wght@900&family=Quicksand:wght@400;500;700&display=swap");
/*---------------------------------------------------------------------------------------------------*/
.nav-header__profile .profile-arrow, .nav-header__search .search-dropdown span {
  display: inline-block;
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  margin: 0px 0px 2px 8px;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: none;
  background: none;
}

/*---------------------------------------------------------------------------------------------------*/
* {
  font-family: Quicksand, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  /*background: #f8f8f8;*/
  background: #fff;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: grid;
  grid-template-rows: 78px 78px;
  height: 151px;
  margin-left: 120px;
  margin-right: 120px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(173, 173, 173, 0.17);
}
.nav-header__logo {
  display: flex;
}
.nav-header__logo .logo-link {
  content: "";
  background-image: url("../img/logo.svg");
  width: 147px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-header__search {
  display: flex;
  background: rgba(131, 131, 131, 0.25);
  border-radius: 5px;
  /*.dropdown-menu {
    opacity: 0;
    position: absolute;
    left: 875px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid rgba(191, 191, 191, 0.25);
    &:hover{
      opacity: 1;
    }

    ul {
      background: $maingrey;

      li {
        list-style: none;
        padding-left: -50px
      }
    }
  }*/
}
.nav-header__search .search-dropdown {
  background: none;
  border: none;
  width: 155px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
  font-weight: 600;
  /*color: $mainblack;*/
}
.nav-header__search .search-dropdown span {
  font-weight: 600;
}
.nav-header__search .upperline {
  content: "";
  background: rgba(131, 131, 131, 0.25);
  width: 1px;
  height: 12.5px;
  align-self: center;
}
.nav-header__search .search-bar {
  width: 285px;
  height: 42px;
  border: none;
  background: none;
  font-weight: 500;
  padding-left: 20px;
}
.nav-header__search .search-button {
  background-color: #3BB77E;
  border: none;
  width: 55px;
  height: 42px;
  background-image: url("../img/li_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}
.nav-header__cart {
  display: flex;
  font-weight: 500;
}
.nav-header__cart .wishlist {
  display: flex;
  align-items: center;
}
.nav-header__cart .wishlist span {
  padding-left: 5px;
}
.nav-header__cart .wishlist span a {
  text-decoration: none;
  color: rgb(37, 61, 78);
  font-size: 14px;
  font-weight: 500;
}
.nav-header__cart .wishlist:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.nav-header__cart .cart {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-left: 40px;
}
.nav-header__cart .cart img {
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
  margin-left: auto;
  margin-right: 10px;
}
.nav-header__cart .cart .my-cart {
  text-decoration: none;
  color: rgb(37, 61, 78);
  font-size: 15px;
}
.nav-header__cart .cart .cart-price {
  color: #3BB77E;
}
.nav-header__cart .cart:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.nav-header__profile {
  display: flex;
}
.nav-header__profile img {
  width: 40px;
}
.nav-header__profile span {
  align-self: center;
  padding-left: 10px;
  font-weight: 600;
  color: rgb(37, 61, 78);
}
.nav-menu {
  display: flex;
}
.nav-menu__button {
  width: 218px;
  height: 52px;
  background-color: #3BB77E;
  border: none;
  border-radius: 2px;
  align-self: center;
  cursor: pointer;
  color: white;
  background-image: url("../img/li_layout-grid.svg");
  background-repeat: no-repeat;
  background-position: 20px;
}
.nav-menu__button span {
  color: white;
  background: none;
  margin-left: 30px;
  font-weight: 600;
}
.nav-menu__button span:hover {
  color: rgb(37, 61, 78);
}
.nav-menu__navigation {
  display: grid;
  grid-template-columns: 91px 116px 131px 150px;
  grid-gap: 24px;
  justify-items: center;
  align-items: center;
  margin-left: 89px;
}
.nav-menu__navigation .nav-main {
  display: flex;
}
.nav-menu__navigation .nav-main a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(37, 61, 78);
  display: flex;
  align-items: center;
}
.nav-menu__navigation .nav-main a img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: none;
  width: 20px;
  height: 20px;
}
.nav-menu__navigation .nav-main a span {
  padding-left: 5px;
  font-weight: 500;
}
.nav-menu__navigation .nav-main:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.nav-menu__phone {
  display: flex;
  align-items: center;
  margin-left: 75px;
}
.nav-menu__phone img {
  width: 20px;
}
.nav-menu__phone span {
  padding-left: 5px;
}
.nav-menu__phone .phone-number a {
  text-decoration: none;
  color: #3BB77E;
  font-weight: 600;
}
.nav-menu__phone .phone-number:hover {
  transform: scale(104%);
  transition: 0.2s;
}
.nav-menu__phone .phone-info {
  color: rgb(37, 61, 78);
  font-weight: 500;
}

.banner {
  display: grid;
  grid-template-columns: 798px 1fr;
  background: rgba(197, 234, 217, 0.78);
  margin-top: 5px;
  background-image: url("../img/bannerimage1.png");
}
.banner .offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 89px;
  margin-bottom: 90px;
}
.banner .offer h1 {
  margin-left: 120px;
  margin-right: auto;
  font-size: 55px;
  font-weight: 700;
  line-height: 68px;
  width: 650px;
  color: rgb(37, 61, 78);
}
.banner .offer h4 {
  margin-left: 120px;
  color: rgb(173, 173, 173);
  font-size: 20px;
  font-weight: 500;
}
.banner .offer .email-form {
  display: flex;
  margin-left: 120px;
  height: 52px;
}
.banner .offer .email-form .mail-icon {
  background: white;
  border-radius: 2px 0px 0px 2px;
  display: flex;
}
.banner .offer .email-form .mail-icon img {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  align-self: center;
}
.banner .offer .email-form input {
  border: none;
  background: white;
  width: 297px;
  padding-left: 15px;
}
.banner .offer .email-form button {
  border: none;
  background: #3BB77E;
  width: 108px;
  color: white;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
}
.banner .offer .email-form button:hover {
  color: rgb(37, 61, 78);
}
.banner .picture {
  display: flex;
}
.banner .picture img {
  width: 642px;
  height: 513px;
}

.explore {
  display: grid;
  grid-template-rows: 90px 210px;
  margin-top: 100px;
}
.explore .explore-header {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: space-between;
}
.explore .explore-header h3 {
  color: rgb(37, 61, 78);
  font-weight: 600;
  font-size: 28px;
}
.explore .explore-header ul {
  display: flex;
  list-style: none;
}
.explore .explore-header ul li {
  padding-left: 12px;
}
.explore .explore-header ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: rgb(37, 61, 78);
}
.explore .explore-header ul li a:hover {
  color: #3BB77E;
}
.explore .explore-content {
  display: flex;
  justify-content: space-between;
}
.explore .explore-content .explore-arrow-left {
  content: "";
  background: #F2F3F4;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-image: url("../img/li_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 55% 65%;
  margin-top: 70px;
  cursor: pointer;
}
.explore .explore-content .explore-arrow-left:hover {
  background: #3BB77E;
  background-image: url("../img/li_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 55% 65%;
  margin-top: 70px;
  transition: 0.3s;
}
.explore .explore-content .explore-card {
  width: 153px;
  height: 194px;
}
.explore .explore-content .explore-card img {
  width: 101px;
  height: 101px;
  position: relative;
  left: 30px;
  top: 10px;
}
.explore .explore-content .explore-card h5 {
  padding-top: 15px;
  font-size: 16px;
  color: rgb(37, 61, 78);
  font-weight: 500;
  text-align: center;
}
.explore .explore-content .explore-card p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: rgb(173, 173, 173);
  padding-top: 10px;
}
.explore .explore-content .explore-arrow-right {
  content: "";
  background: #F2F3F4;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-image: url("../img/li_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 55% 65%;
  transform: scaleX(-1);
  margin-top: 70px;
  cursor: pointer;
}
.explore .explore-content .explore-arrow-right:hover {
  background: #3BB77E;
  background-image: url("../img/li_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 55% 65%;
  transform: scaleX(-1);
  margin-top: 70px;
  transition: 0.3s;
}

.featured {
  display: grid;
  grid-template-rows: 90px 300px;
  margin-top: 100px;
  /*background: red;*/
}
.featured .featured-header {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: space-between;
}
.featured .featured-header h3 {
  color: rgb(37, 61, 78);
  font-weight: 600;
  font-size: 28px;
}
.featured .featured-header ul {
  display: flex;
  list-style: none;
}
.featured .featured-header ul li {
  padding-left: 12px;
}
.featured .featured-header ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: rgb(37, 61, 78);
}
.featured .featured-header ul li a:hover {
  color: #3BB77E;
}
.featured .featured-products {
  display: flex;
  justify-content: space-between;
}
.featured .featured-products .featured-arrow-left {
  content: "";
  background: #F2F3F4;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-image: url("../img/li_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 55% 65%;
  cursor: pointer;
  margin-top: 90px;
}
.featured .featured-products .featured-arrow-left:hover {
  background: #3BB77E;
  background-image: url("../img/li_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 55% 65%;
  transition: 0.3s;
}
.featured .featured-products .featured-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(173, 173, 173, 0.25);
  border-radius: 3px;
  height: 311px;
}
.featured .featured-products .featured-card img {
  height: 144px;
  border-radius: 10px;
}
.featured .featured-products .featured-card .featured-1 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(173, 173, 173);
  margin-top: 10px;
  margin-left: 10px;
}
.featured .featured-products .featured-card .featured-2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 7px;
  margin-left: 10px;
}
.featured .featured-products .featured-card .featured-3 {
  background-image: url("../img/Featured/stars.svg");
  background-repeat: no-repeat;
  padding-left: 90px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(131, 131, 131, 0.25);
  margin-top: 10px;
  margin-left: 10px;
}
.featured .featured-products .featured-card .featured-4 {
  font-size: 13px;
  font-weight: 400;
  color: rgb(173, 173, 173);
  margin-top: 5px;
  margin-left: 10px;
}
.featured .featured-products .featured-card .featured-4 span {
  color: #3BB77E;
}
.featured .featured-products .featured-card .featured-5 {
  font-size: 15px;
  font-weight: 600;
  color: #3BB77E;
  margin-top: 30px;
  margin-left: 10px;
}
.featured .featured-products .featured-card .featured-5 span {
  color: rgb(173, 173, 173);
  margin-left: 7px;
  font-size: 16px;
  font-weight: 400;
}
.featured .featured-products .featured-card .featured-button {
  background-image: url("../img/Featured/li_shopping-cart.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 28% 50%;
  width: 90px;
  height: 34px;
  border: none;
  /*background: $lightgreen;*/
  align-self: end;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #3BB77E;
  margin-top: -27px;
  margin-right: 20px;
}
.featured .featured-products .featured-card .featured-button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.featured .featured-products .featured-card .featured-button:active {
  background: white;
  background-image: url("../img/Featured/li_shopping-cart.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 28% 50%;
}
.featured .featured-products .featured-arrow-right {
  content: "";
  background: #F2F3F4;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-image: url("../img/li_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 55% 65%;
  transform: scaleX(-1);
  margin-top: 90px;
  cursor: pointer;
}
.featured .featured-products .featured-arrow-right:hover {
  background: #3BB77E;
  background-image: url("../img/li_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 55% 65%;
  transform: scaleX(-1);
  transition: 0.3s;
}

.shop-ads {
  display: flex;
  margin: 100px auto;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: space-between;
}
.shop-ads__one {
  display: flex;
  width: 620px;
  height: 300px;
  background: rgba(255, 245, 225, 0.85);
  background-image: url("../img/bannerimage1.png");
  border-radius: 3px;
}
.shop-ads__one .shop-ads__content1 {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  height: 232px;
  width: 300px;
  justify-content: space-between;
  margin-top: 33px;
}
.shop-ads__one .shop-ads__content1 .content1-header {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: rgb(255, 212, 128);
  width: 86px;
  height: 26px;
  border-radius: 3px;
  padding-left: 6px;
  padding-top: 5px;
}
.shop-ads__one .shop-ads__content1 h3 {
  font-size: 26px;
  font-weight: 600;
  color: rgb(37, 61, 78);
}
.shop-ads__one .shop-ads__content1 .content1-description {
  font-size: 15px;
  font-weight: 500;
  color: rgb(173, 173, 173);
}
.shop-ads__one .shop-ads__content1 button {
  border: none;
  width: 143px;
  height: 52px;
  background: #3BB77E;
  color: white;
  background-image: url("../img/li_arrow-right.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 85% 50%;
  font-size: 15px;
  font-weight: 500;
  padding-right: 35px;
  border-radius: 0px 2px 2px 0px;
  cursor: pointer;
}
.shop-ads__one .shop-ads__content1 button:hover {
  color: rgb(37, 61, 78);
  transition: 0.2s;
}
.shop-ads__one img {
  width: 184px;
  height: 289px;
  margin-left: 80px;
  margin-top: 11px;
}
.shop-ads__two {
  display: flex;
  width: 620px;
  height: 300px;
  background: rgba(210, 239, 225, 0.85);
  background-image: url("../img/bannerimage1.png");
  border-radius: 3px;
}
.shop-ads__two .shop-ads__content2 {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  height: 232px;
  width: 300px;
  justify-content: space-between;
  margin-top: 33px;
}
.shop-ads__two .shop-ads__content2 .content2-header {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: rgb(255, 212, 128);
  width: 86px;
  height: 26px;
  border-radius: 3px;
  padding-left: 6px;
  padding-top: 5px;
  text-align: center;
}
.shop-ads__two .shop-ads__content2 h3 {
  font-size: 26px;
  font-weight: 600;
  color: rgb(37, 61, 78);
}
.shop-ads__two .shop-ads__content2 .content2-description {
  font-size: 15px;
  font-weight: 500;
  color: rgb(173, 173, 173);
}
.shop-ads__two .shop-ads__content2 button {
  border: none;
  width: 143px;
  height: 52px;
  background: #3BB77E;
  color: white;
  background-image: url("../img/li_arrow-right.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 85% 50%;
  font-size: 15px;
  font-weight: 500;
  padding-right: 35px;
  border-radius: 0px 2px 2px 0px;
  cursor: pointer;
}
.shop-ads__two .shop-ads__content2 button:hover {
  color: rgb(37, 61, 78);
  transition: 0.2s;
}
.shop-ads__two img {
  width: 275px;
  height: 258px;
  margin-top: auto;
}

.bestsells {
  display: grid;
  grid-auto-rows: 50px 500px;
  margin-left: 80px;
  max-width: 1285px;
}
.bestsells-header {
  display: flex;
}
.bestsells-header h3 {
  font-size: 32px;
  color: rgb(37, 61, 78);
  font-weight: 600;
  align-self: center;
}
.bestsells-header ul {
  display: flex;
  align-self: center;
}
.bestsells-header ul li {
  margin-left: 26px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.bestsells-header ul li:hover {
  color: #3BB77E;
  transition: 0.2s;
}
.bestsells-header p {
  display: block;
  align-self: center;
  margin-left: 45px;
  background: rgb(243, 82, 68);
  width: 224px;
  height: 41px;
  border-radius: 4px;
  align-self: center;
  padding-left: 20px;
  padding-top: 9px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.bestsells-header p span {
  margin-left: 15px;
}
.bestsells-header button {
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  content: "";
  background-image: url("../img/li_arrow-rightblack.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50% 40%;
  cursor: pointer;
}
.bestsells-header .bestsells-button1 {
  margin-left: 320px;
  transform: scaleX(-1);
}
.bestsells-header .bestsells-button1:hover {
  content: "";
  background: #3BB77E;
  background-image: url("../img/li_arrow-rightblack.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50% 40%;
}
.bestsells-header .bestsells-button2 {
  margin-left: 12px;
}
.bestsells-header .bestsells-button2:hover {
  content: "";
  background: #3BB77E;
  background-image: url("../img/li_arrow-rightblack.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50% 40%;
}
.bestsells .bestsells-content {
  display: flex;
  width: 100%;
  padding-top: 50px;
  justify-content: space-between;
}
.bestsells .bestsells-content .bestsells-content__card {
  width: 228px;
  height: 387px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(173, 173, 173, 0.25);
  border-radius: 3px;
}
.bestsells .bestsells-content .bestsells-content__card .bestsells-deals {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  background: rgb(255, 212, 128);
  width: 78px;
  height: 27px;
  border-radius: 3px;
  padding-left: 6px;
  padding-top: 5px;
  text-align: center;
}
.bestsells .bestsells-content .bestsells-content__card .bestsells-descriptions {
  color: rgb(173, 173, 173);
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
}
.bestsells .bestsells-content .bestsells-content__card h2 {
  color: rgb(37, 61, 78);
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 7px;
}
.bestsells .bestsells-content .bestsells-content__card .stars {
  width: 107px;
  margin-left: 10px;
  margin-top: 12px;
}
.bestsells .bestsells-content .bestsells-content__card span {
  display: inline-block;
}

.mobilead {
  display: grid;
  grid-template-columns: 1fr 789px;
  max-width: 1440px;
  background: rgb(222, 249, 236);
  height: 796px;
  margin-top: 50px;
  background-image: url("../img/bannerimage1.png");
}
.mobilead .mobilead-buttons h2 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(37, 61, 78);
  margin-top: 237px;
  margin-left: 120px;
}
.mobilead .mobilead-buttons p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(173, 173, 173);
  margin-left: 120px;
  padding-top: 29px;
}
.mobilead .mobilead-buttons .appstore {
  background-image: url("../img/MobileAd/appstore.svg");
  width: 180px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  float: left;
  margin-left: 120px;
  margin-top: 67px;
}
.mobilead .mobilead-buttons .playmarket {
  background-image: url("../img/MobileAd/playmarket.svg");
  width: 200px;
  height: 110px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  margin-top: 64px;
}
.mobilead .mobilead-logos {
  display: flex;
}
.mobilead .mobilead-logos .mobile1 {
  width: 400px;
  z-index: 2;
}
.mobilead .mobilead-logos .mobile2 {
  width: 315px;
  position: absolute;
  margin-left: 347px;
  margin-top: 41px;
  z-index: 1;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(173, 173, 173, 0.17);
  width: 1220px;
}
.pre-footer .pre-footer-grid {
  display: grid;
  grid-template-columns: 52px 1fr;
  grid-template-rows: 1fr 1fr;
}
.pre-footer .pre-footer-grid img {
  width: 52px;
  height: 52px;
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
}
.pre-footer .pre-footer-grid h4 {
  color: rgb(37, 61, 78);
  font-size: 15px;
  width: 225px;
  align-self: center;
  margin-left: 15px;
}
.pre-footer .pre-footer-grid span {
  color: rgb(173, 173, 173);
  font-size: 14px;
  width: 225px;
  margin-left: 15px;
}

footer {
  display: block;
  width: 1200px;
  margin-left: 120px;
}
footer .footer-main {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(173, 173, 173, 0.17);
}
footer .footer-main .footer-block1 .footer-main-logo {
  width: 197px;
  padding-bottom: 56px;
  display: flex;
}
footer .footer-main .footer-block1 .footer-info-1 {
  display: flex;
  width: 350px;
}
footer .footer-main .footer-block1 .footer-info-1 img {
  padding-right: 10px;
  align-self: end;
}
footer .footer-main .footer-block1 .footer-info-1 h6 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 16px;
}
footer .footer-main .footer-block1 .footer-info-1 h6 span {
  color: rgb(173, 173, 173);
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}
footer .footer-block2 {
  margin-left: 130px;
}
footer .footer-block2 .footer-main-header {
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 36px;
}
footer .footer-block2 ul li {
  list-style: none;
  font-size: 15px;
  color: rgb(37, 61, 78);
  padding-top: 15px;
  width: 120px;
}
footer .footer-data {
  margin-top: 29px;
  padding-bottom: 39px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
footer .footer-data .footer-data-trademark {
  font-size: 14px;
}
footer .footer-data .footer-data-cards img {
  width: 224px;
}
footer .footer-data .footer-data-social ul {
  display: flex;
  list-style: none;
}
footer .footer-data .footer-data-social ul li {
  padding-left: 10px;
}
footer .footer-data .footer-data-social ul li a img {
  width: 33px;
}

/*# sourceMappingURL=style.css.map */
